*.class
*.jar
*.war
*.ear
doc/
bin/
dist/
*~
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.recommenders

/09-objetos-heranca/nbproject/private/
/09-objetos-heranca/build/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/10-interfaces/nbproject/private/
/11-towerdefense/nbproject/private/
/12-io/nbproject/private/
/13-hello-persistencia/nbproject/private/
/14-linked-list/nbproject/private/
/15-polimorfismo/nbproject/private/